<a>
<strong>
<span data-bind="visible: settings.settings.plugins.bluetooth_temp_hum_sensor.show_temperature">
    Temperature 20°C
</span>
<span data-bind="visible: settings.settings.plugins.bluetooth_temp_hum_sensor.show_humidity">
    Humidity 59%
</span>
<span data-bind="visible: settings.settings.plugins.bluetooth_temp_hum_sensor.show_battery">
    Battery 45%
</span>
</strong>
</a>