<div>    
    <span id="bluetooth_temp" data-bind="visible: local_settings.show_temperature()">
        Temperature <span data-bind="text: currentTemp()"></span>
    </span>
        
    <span id="bluetooth_humidity" data-bind="visible: local_settings.show_humidity()">
        Humidity <span data-bind="text: currentHumidity()"></span>
    </span>

        
    <span id="bluetooth_temp" data-bind="visible: local_settings.show_battery()">
        Battery <span data-bind="text: currentBattery()"></span>
    </span>
</div>